<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maddy.adiii.interviewquestion">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AboutUs"
            android:label="About Us"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".allshowlist"
            android:label="All Tasks"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".editEntry"
            android:label="Edit Task"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".AddNewTodo"
            android:label="New Task"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>